button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--bg-secondary-color);
  color: var(--text-primary);
  padding: 1.125rem 1.875rem;
  border-radius: var(--border-radius-s);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: filter 150ms linear;
  position: relative;
}

button.p-m {
  padding: 0.75rem 1.25rem;
}

button.fullWidth {
  width: 100%;
}

button:hover {
  filter: brightness(1.2);
}

button:disabled {
  filter: brightness(0.7);
  cursor: not-allowed;
}

button.highlight {
  background-color: var(--blue-color);
  color: var(--black-color);
}

.icon-button {
  padding: 0;
  width: auto;
  border-radius: 50%;
  background-color: transparent;
}

.icon-border {
  border: 0.15rem solid var(--gray-secondary-color);
  padding: 0.25rem;
}

.notification::before {
  background-color: var(--red-color);
  width: auto;
  min-width: 1.25rem;
  min-height: 1rem;
  padding: 0 0.25rem;
  position: absolute;
  top: -0.5rem;
  right: 0.75rem;
  border-radius: 0.75rem;
  border: 0.15rem solid var(--black-color);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: bold;
  color: var(--black-color);
  content: attr(data-content);
}

@media (max-width: 640px) {
  button {
    width: 100%;
  }

  button.not-expand {
    width: initial;
  }
}
