.mt-100 {
  margin-top: 1rem;
}

.mt-200 {
  margin-top: 2rem;
}

.mb-100 {
  margin-bottom: 1rem;
}

.mb-200 {
  margin-bottom: 2rem;
}

.ml-100 {
  margin-left: 1rem;
}

.ml-200 {
  margin-left: 2rem;
}

.mr-100 {
  margin-right: 1rem;
}

.mr-200 {
  margin-right: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

/* padding */

.p-50 {
  padding: 0.5rem;
}

.p-100 {
  padding: 1rem;
}

.pt-50 {
  padding-top: 0.5rem;
}

.pt-100 {
  padding-top: 1rem;
}

.pb-50 {
  padding-bottom: 0.5rem;
}

.pb-100 {
  padding-bottom: 1rem;
}

.px-50 {
  padding: 0 0.5rem;
}

.px-100 {
  padding: 0 1rem;
}

.py-50 {
  padding: 0.5rem 0;
}

.py-100 {
  padding: 1rem 0;
}
