.break-word {
  word-wrap: break-word;
}

.c-blue {
  color: var(--blue-color);
}

.c-white {
  color: var(--text-primary-color);
}

.pointer {
  cursor: pointer;
}

.font-weight-500 {
  font-weight: 500;
}
