ul {
  height: 100%;
  list-style: none;
}

.card-file__list > li {
  margin-bottom: 0.5rem;
  max-width: 100%;
}

.card-file__list > li:last-of-type {
  margin-bottom: 0;
}

.empty-ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-file__list-item {
  display: grid;
  grid-template-columns: 5rem auto 3rem;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bg-primary-color);
  border-radius: 0.5rem;
}

.card-file__list-item figure {
  min-height: 4rem;
  min-width: 4rem;
  border-radius: 0.5rem;
  background-color: var(--bg-secondary-color);
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-file__list-item-file-details {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-file__list-item-filename,
.card-file__list-item-size {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-file__list-item div:last-of-type {
  margin: 0 auto;
}
